<a href="https://colab.research.google.com/github/kowshiksarker/Python-SQL/blob/main/Combining_Pandas_and_SQL_for_Data_Profiling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# Lets import the required libraries
import numpy as np
import pandas as pd
import re
from sklearn.datasets import load_iris #loading a sample inbuilt dataset for demo

In [30]:
# installing 'pandasql' library -> https://pypi.org/project/pandasql/
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.15)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.0.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->pandasql) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->pandasql) (3.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)

In [31]:
# importing pandasql and creating a default function that can be used across the notebook for quering any dataframe
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [32]:
# loading iris dataset into a dataframe and transforming the column names as per the sql standard (removing sapces and special characters)
iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)
iris_df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
iris_df.columns = [re.sub("[() ]", "", col) for col in iris_df.columns]

In [33]:
iris_df

     sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm    species
0              5.1           3.5            1.4           0.2     setosa
1              4.9           3.0            1.4           0.2     setosa
2              4.7           3.2            1.3           0.2     setosa
3              4.6           3.1            1.5           0.2     setosa
4              5.0           3.6            1.4           0.2     setosa
..             ...           ...            ...           ...        ...
145            6.7           3.0            5.2           2.3  virginica
146            6.3           2.5            5.0           1.9  virginica
147            6.5           3.0            5.2           2.0  virginica
148            6.2           3.4            5.4           2.3  virginica
149            5.9           3.0            5.1           1.8  virginica

[150 rows x 5 columns]

In [34]:
# Now its time to query the dataframe using pandasql
species_count=pysqldf(""" SELECT species,COUNT(*) from iris_df group by species """)
print(species_count)
print(type(species_count))

      species  COUNT(*)
0      setosa        50
1  versicolor        50
2   virginica        50
<class 'pandas.core.frame.DataFrame'>

In [35]:
aggr_data=pysqldf(""" select species,avg(sepallengthcm) as avg_sepallength,avg(sepalwidthcm) as avg_sepalwidth from iris_df group by species """)
aggr_data

      species  avg_sepallength  avg_sepalwidth
0      setosa            5.006           3.428
1  versicolor            5.936           2.770
2   virginica            6.588           2.974